DolbyDecMFT.dll
*7z2104-x64*
*AutoHotkey*
*BasicThemer*
Drivers/
CEE 0.3.39/
Corsair Effects Engine/
knifegui/
OldNewExplorer/
Sonar Essence STX II/
psshutdown.exe
SetTimerResolutionService.exe
Log.log
PsExec*
SetACL.exe
XonarSwitch Profiles.reg
VSTPlugins/
*OpenRGB*
Temp/